# Lokalna PostgreSQL baza na razvojnom racunaru.
DATABASE_URL="postgresql://postgres:LOKALNA_POSTGRES_LOZINKA@127.0.0.1:5432/knjigovodstvoonline"

# Server PostgreSQL baza preko SSH tunela.
# Prvo pokrenuti tunel iz tunel.md, pa aktivirati ovu vrijednost.
# DATABASE_URL="postgresql://zeljko:SERVER_POSTGRES_LOZINKA@127.0.0.1:5433/knjigovodstvoonline"
